<!doctype html>
<html>
    <head>
        <title>Photos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
	    <ul class="nav">
	        <li class="nav-item">
	            <a id="download_link" class="btn nav-link" href="#">Download</a>
	        </li>
	    </ul>
            <div class="row row-cols-auto">
            {% for image in data.images %}
		<div class="card">
                <a href="{{ url_for('static', filename='images/' + image) }}"><img class="card-img-top" src="{{ url_for('static', filename='thumbs/' + image) }}" /></a>
			<div class="card-body"></div>
		</div>
            {% endfor %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
		$("#download_link").click(function() {
	            $(this).addClass("disabled");
                    $.post("/download", {}, function(data) {
			$("#download_link").removeClass("disabled");
                        top.location.href = data["filepath"];
                        console.log(data["message"]);
		    });
		});
	    });
        </script>
    </body>
</html>
